<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.sjtu.ysy.hems">


    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_hems"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.LaunchActivity"
           android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".ui.KongtiaoActivity"
            android:label="@string/kongtiaotitle"></activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
        <activity
            android:name=".ui.Setting"
            android:label="@string/title_activity_settings"></activity>
        <activity
            android:name=".ui.Electric"
            android:label="@string/electrictitle"></activity>
        <activity
            android:name=".ui.Elecharge"
            android:label="@string/elechargetitle"></activity>
        <activity
            android:name=".ui.CompareActivity"
            android:label="@string/comparetitle"></activity>
        <activity
            android:name=".ui.ResultActivity"
            android:label="@string/resulttitle"></activity>
        <activity
        android:name=".ui.PowerActivity"
        android:label="@string/comforttitle"></activity>
        <activity
            android:name=".ui.Generator"
            android:label="@string/Generatortitle"></activity>

    </application>

</manifest>
